#naw {
	float: left;
	width: 50%;
	min-width: 400px;
}

#googleMaps {
	padding: 1.25em;
	display: block;

}

#googleMaps img {
	display: inline-block;
	margin-left: 5%;
}

#naw input[type="text"] {
	-webkit-appearance: none;
	padding: 6px 4px;
	outline: none;
	font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #777;
	margin: 0;
	width: 350px;
	max-width: 100%;
	margin-bottom: 5px;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	display:inline;
	height:auto;
}

#naw input.error {
	border:2px solid #dd3d36;
}

#naw select {
	padding: 6px 4px;
	outline: none;
	font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #777;
	margin: 0;
	width: 350px;
	max-width: 100%;
	margin-bottom: 5px;
	background: #fff;
	-webkit-font-smoothing: antialiased;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	display:inline;
	background-color: #FFFFFF;
}

#naw div {
	clear: both;
}

#naw div label {
	width: 110px;
	display: block;
	float: left;
	clear: left;
	margin-top: 4px;
}

#naw div input[type="text"] {
	width: 400px;
	float: left;
	clear: right;
}